.teamSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
  .heading {
    font-size: 36px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    
  }
  
  .profilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .teamProfile {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .profileName {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profileRole {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .profileDescription {
    font-size: 14px;
    line-height: 1.5;
  }